/* Importing Google fonts */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/static/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/static/Inter-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/static/Inter-Bold.ttf") format("ttf");
}

/* Color variables */
:root {
  --color-dark: hsl(0, 0%, 8%);
  --color-dark-medium: hsl(0, 0%, 12%);
  --color-dark-light: hsl(0, 0%, 20%);
  --color-white: hsl(0, 0%, 100%);
  --color-lime-light: hsl(75, 94%, 57%);
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styles */
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-size: 1rem;
}

p,
a {
  font-size: 0.875rem;
}

/* Main container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 0 1.5rem;
}

/* Profil */
.profile {
  background-color: var(--color-dark-medium);
  max-width: 380px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 8px;
  text-align: center;
}

.profile__avatar {
  border-radius: 50%;
  width: 88px;
  height: auto;
  aspect-ratio: 1/1;
  margin-bottom: 1.75rem;
}

.profile__author,
.profile__location {
  font-weight: 700;
}

.profile__author {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile__location {
  color: var(--color-lime-light);
}

.profile__quote {
  margin: 1.75rem 0;
}

/* Social links */
.profile__social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__social-link {
  color: var(--color-white);
  background-color: var(--color-dark-light);
  padding: 0.875rem 0;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 75ms ease-out, color 75ms ease-out;
}

.profile__social-link:hover {
  background-color: var(--color-lime-light);
  color: var(--color-dark-medium);
}

@media (max-width: 425px) {
  .profile {
    padding: 1.5rem;
  }
}
